<div class="projects">
  <h1 class="projects-title">
    {{ title }}
  </h1>
  <div
    *ngIf="projectItems$ | async as projectItems; else loadingSpinner"
    class="projects-wrapper">
    <div *ngFor="let project of projectItems" class="projects-item">
      <h2 class="projects-item-title">{{ project.title }}</h2>
      <p *ngIf='project.description' class="projects-item-description">{{ project.description }}</p>
      <span class="projects-item-demo-link">
        Demo:
        <a
          *ngIf="project.demoLink"
          [href]="project.demoLink"
          target="_blank"
          >{{ project.demoLink }}</a
        >
      </span>
      <span class="projects-item-repo-link">
        Repo:
        <a
          *ngIf="project.repoLink"
          [href]="project.repoLink"
          target="_blank"
          >{{ project.repoLink }}</a
        >
      </span>
    </div>
  </div>
  <ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
